<configuration scan="true" scanPeriod="5 seconds">
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <encoder>
            <pattern>%d %-5p [Email Services] [%c] - %m%n</pattern>
        </encoder>
    </appender>

    <appender name="DEV-FILE" class="ch.qos.logback.core.FileAppender">
        <file>${APP_HOME:-./UNDEFINED_LOGS_DIR}/logs/bootJerseyApp.log</file>
        <encoder>
            <pattern>%date %-6level [%logger{10}] %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender>

    <logger name="org.springframework" level="ERROR" additivity="false"/>
    <logger name="org.apache.zookeeper" level="INFO"/>
    <logger name="com.dealer.config.provider" level="INFO"/>


    <logger name="hello.resource" level="DEBUG"/>



    <root level="INFO">
        <appender-ref ref="DEV-FILE"/>
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>